backend/knowledge_base/patterns/parallel_processing.yaml
# Parallel Processing Pattern
# Multiple concurrent operations with aggregation

metadata:
  pattern_id: "pattern_parallel_001"
  name: "Parallel Processing"
  description: "Workflow with parallel execution: Start -> Multiple LLMs in parallel -> Variable Aggregator -> End. Ideal for multi-perspective analysis, ensemble predictions."
  complexity: "moderate"
  node_count: 5
  use_cases:
    - "Multi-model ensemble"
    - "Parallel document analysis"
    - "Multi-perspective evaluation"
    - "Redundant processing for reliability"
  tags:
    - "parallel"
    - "concurrent"
    - "aggregation"
    - "moderate"

workflow:
  version: "0.1"
  graph:
    nodes:
      - id: "start_1"
        type: "start"
        data:
          title: "Start"
          variables:
            - variable: "query"
              type: "string"
              label: "Query"
              required: true
          desc: "Workflow entry point"
        position:
          x: 100
          y: 150

      - id: "llm_1"
        type: "llm"
        data:
          title: "Analysis Path A"
          model:
            provider: "openai"
            name: "gpt-4"
            mode: "chat"
            completion_params:
              temperature: 0.7
          prompt_template:
            - role: "user"
              text: "Analyze from perspective A: {{#start.query#}}"
        position:
          x: 300
          y: 50

      - id: "llm_2"
        type: "llm"
        data:
          title: "Analysis Path B"
          model:
            provider: "openai"
            name: "gpt-4"
            mode: "chat"
            completion_params:
              temperature: 0.7
          prompt_template:
            - role: "user"
              text: "Analyze from perspective B: {{#start.query#}}"
        position:
          x: 300
          y: 150

      - id: "llm_3"
        type: "llm"
        data:
          title: "Analysis Path C"
          model:
            provider: "openai"
            name: "gpt-4"
            mode: "chat"
            completion_params:
              temperature: 0.7
          prompt_template:
            - role: "user"
              text: "Analyze from perspective C: {{#start.query#}}"
        position:
          x: 300
          y: 250

      - id: "aggregator_1"
        type: "variable-aggregator"
        data:
          title: "Combine Results"
          variables:
            - variable_selector:
                - "llm_1"
                - "text"
            - variable_selector:
                - "llm_2"
                - "text"
            - variable_selector:
                - "llm_3"
                - "text"
        position:
          x: 500
          y: 150

      - id: "end_1"
        type: "end"
        data:
          title: "End"
          outputs:
            combined_analysis: "{{#aggregator_1.output#}}"
        position:
          x: 700
          y: 150

    edges:
      - id: "start_1-llm_1"
        source: "start_1"
        target: "llm_1"
      - id: "start_1-llm_2"
        source: "start_1"
        target: "llm_2"
      - id: "start_1-llm_3"
        source: "start_1"
        target: "llm_3"
      - id: "llm_1-aggregator_1"
        source: "llm_1"
        target: "aggregator_1"
      - id: "llm_2-aggregator_1"
        source: "llm_2"
        target: "aggregator_1"
      - id: "llm_3-aggregator_1"
        source: "llm_3"
        target: "aggregator_1"
      - id: "aggregator_1-end_1"
        source: "aggregator_1"
        target: "end_1"